.contenedor-inicio {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.webp {
    .principal {
        background-image: url(../../build/img/imagen-fondo.webp);
    }
}

.no-webp {
    .principal {
        background-image: url(../../../src/img/imagen-fondo.jpeg);
    }
}

.principal {
    background-position-x: center;
    @include desktop {
        //background-repeat: no-repeat;
        background-size: cover;
    }
}

.secundario {
    background-color: rgba(130,46,129,0.1);
}

.ocultar {
    visibility: hidden;
}